* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.auth-container_div {
  background-color: #28282B;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.auth-container_div img {
  width: 100%;
  height: auto;
}

.auth-form-container {
  display: flex;
  align-items: center;
  background-color: #faf5e9;
  width: 50%;
  padding-left: 5rem;
}

.auth-form-container h2 {
  font-size: 24px;
}

.auth-form-container label {
  display: block;
  margin-bottom: 8px;
}

.auth-form-container .auth-label {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.auth-form-container .auth-label a {
  color: #959ca2;
}

label span {
  color: red;
}

.auth-form-container button {
  background-color: #2272ff;
  color: #fff;
  margin-top: 1rem;
}

.auth-form-container input {
  width: 30vw;
}

.auth-form-container input[type='password'] {
  width: 42vw;
}

.auth-signup {
  padding-top: 5rem;
}

.auth-signup span {
  color: #959ca2;
}

.auth-signup span a {
  font-weight: bold;
  color: #3c3e3f;
}

.auth-signup-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #faf5e9;
  padding-top: 132px;
  padding-left: 123px;
}

.auth-signup-container h2 {
  font-size: 28px;
}

.auth-signup-container form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding-top: 115px;
}

.auth-signup-form input {
  margin-top: 11px;
}

.auth-signup-form button {
  background-color: #2272ff;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .auth-container {
    flex-direction: column;
  }

  .auth-container_div,
  .auth-form-container {
    width: 100%;
  }

  .auth-container_div img {
    height: 100%;
  }

  .auth-form-container input {
    width: 60vw;
  }

  .auth-signup-container {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .auth-signup-container h2 {
    font-size: 24px;
  }

  .auth-signup-container form {
    grid-template-columns: 1fr;
  }

  .auth-signup-form input {
    width: 100%;
  }

  .auth-signup-form button {
    width: 100%;
  }
}
